*{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    /* font-family: Arial, Helvetica, sans-serif */
    font-size: 20px;
    
}

/* =========================
    GLOBAL / BODY
   ========================= */

body {
    margin: 0;
    padding: 0;
    background-color: #BC6C25;
    color: black;
    line-height : 1.4em;
    /* FIXED: removed duplicate font-family */
    font-family: Arial, Helvetica, sans-serif;
    /* FIXED: grid now actually does something */
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    gap: 20px;
    
}

/* =========================
    HEADER
   ========================= */

header {
    padding: 30px;
    text-align: center;
    font-size: 4.5rem;
    background-color: #DDA15E;
    border-radius: 50px;
    margin: 20px;
    z-index: 3;
    /*display : grid;
    gap: 15px;*/
}
.h1-style {
    font-size : 3.5rem;
    align-items: center;
    color: black;
    text-decoration: underline;
}


.logo {
    width: 800px;
    height: auto;
    display: grid;
    align-content: flex-start;
    margin-top : -10px;
    margin-left : -10px;
    z-index: 2;

}

/* =========================
    LINKS & BUTTONS
   ========================= */

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #737f4d;
}

a:active {
    color: #2c92ce;
}

.link-white {
    color: white;
}

.link-black {
    color: black;
}

button {
    padding: 8px 14px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-size: 12px;
}

.black-button {
    background-color: black;
    color: white;
}

.white-button {
    background-color: white;
    color: black;
}
.black-button a:hover {
    color: white;
}

.white-button a :hover {
    color: black;
}
/* =========================
    NAVIGATION
   ========================= */

header > nav ol {
    margin-top: -45px  ;
    margin-left : 80px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 20px;
    grid-auto-rows: minmax(30px, auto);

}

nav ol li {
    list-style: none;
    font-size: 15px;
    cursor: pointer;
}

/* =========================
    SECTIONS
   ========================= */
.backgroung-img-section {
    text-align : center ;
    width : 200px;
    height : auto ;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #DDA15E;
    border-radius: 50px;
    /* FIXED: grid for internal layout */
    display: grid;
    gap :50px;
    justify-content: center;
    
}

section button {
    background-color: wheat;
    margin : 10px
    
}
article {
    display: grid;
    place-content:right;
    margin-top : 10px ;
}
article img{
    width : 30% ;
    height : auto ;
    border-radius: 50px;
}

section>div>span>a {
    text-align : left ;
    font-size :15px;

}
.h2-style {
    font-size : 3.5em;
    align-items: center;
    color: black;
    text-decoration: underline;

}
.learn-more-button a {
    color : black;
    align-items: left;
    font-size : 15px;

}
.learn-more-button a:hover {
    color : white;
}

.marketing-team-image {
    width : 50% ;
    height : auto ;
    border-radius: 50px;
}

.text-container{
    margin-top : -50px;
    margin-bottom : 50px;
    text-align : center ;
    background-color: #606C38;
    border-radius: 50px;
    padding : 20px;
}


/* FIXED: proper flex usage instead of inherit */
#div1 {
    display: flex;
    border-radius: 50px;
    padding: 20px;
}

/* =========================
    LIST LINK EFFECTS
   ========================= */

/* FIXED: removed illegal nested CSS */
.ol-links a:visited {
    color: black;
}

.ol-links li:hover {
    background-color: #737f4d;
    color: black;
}

/* =========================
    FOOTER (GRID DONE RIGHT)
   ========================= */

footer {
    background-color: #DDA15E;
    border-radius: 50px;
    margin: 20px;
    padding: 20px;
    /* FIXED: proper grid usage */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    font-size: 15px;
}

.footer-text {
    font-size: 10px;
}

/* FIXED: flex instead of floats */
.footer-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 12px;
}

.footer-links a {
    color: black;
}

.footer-links a:hover {
    text-decoration: underline;
    color : rgb(18, 32, 1);
    background-color:#737f4d ;
}

/* =========================
    SOCIAL MEDIA
   ========================= */

.social-media {
    display: flex;
    gap: 10px;
    justify-content :last baseline;
    margin-right : -200px;
    margin-top: 120px;
    font-size: 10px;
    text-align: right;
}

.social-media img {
    display: grid;
    grid-template-rows:auto ;
    width: 50px;
    height: auto;
    text-align: right;
    margin-right: auto;

}

/* =========================
    SIDEBAR (RESPONSIVE)
   ========================= */

@media (max-width: 1200px) {
    body{
        line-height: 1.3em;


    }
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 200px;
        height: 100%;
        background-color: #545e31;
        padding-top: 15px;

        font-size: 15px;
        color: white;

        /* FIXED: flex for vertical layout */
        display: flex;
        flex-direction: column;
        gap: 10px;
        z-index: 1;
    }

    /* FIXED: removed illegal nesting */
    .sidebar a {
        color: black;
        padding: 10px;
    }
    .sidebar a:hover {
        background-color: #737f4d;
    }
    nav ol {
        list-style-type:disc; ;
        margin-left: 20px;
        padding: 20;
        flex-direction: column;
        gap: 20px;
    }

    footer {
        grid-template-columns: 1fr 1fr;
    }

}

/* =========================
RESPONSIVE BUTTONS
   ========================= */

@media (max-width: 800px) {
    button {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 10px;
        background-color: rgb(238, 238, 238);
    }
}
