body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a8a7a7;
    color : black;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    padding: 5px;
    text-align: center;
    background-color: white;
    font-size : 15px;
    border-radius : 50px;
    

}

header button{
    margin-left: 10px;
    background-color: white;
    border-style : solid;
    border-color : black;
    padding : 10px;
    font-size : 15px;
    cursor : pointer;
    position : inherit;
    

}
#div1{
    color: orange;
    background-color: lightblue;
    border-radius : 50px;
}
nav ol{
    color: black;
    padding:0;
    margin : 50px;

}
nav ol li{
    display: inline;
    margin-right: 60px;
    font-size : 15px;
    cursor : pointer;

}
.hover-effect{
    color : rgba(206, 165, 124, 0.679);

}

.background-image{
    background-image: url('soft_blur.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    position: relative;
    opacity: background-image 0.5;
}

.left_button{
    background-color: linear-gradient(to-right,white);
    color: blue;
    padding: px;
    size : medium;
    position: inherit;
    border-radius : 50px;
    margin : 20px;
}

section button{
    position : inherit;
    color : black;
    padding: 10px;
    margin :15px;
    border-radius : 50px;
    size : small;
}

button{
    position : inherit;
    color : black;
    padding: 5px;
    border-radius : 50px;
    size : small;
    margin-left: 10px;
}


@media(max-width:1000px){
    button {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 10px;
        color: black;
        background-color: wheat;
    }
}

@media(min-width:800px){
    #div1{
        display: none;
    }
}

a:active{
    color:rgb(77, 6, 110);
}

a:hover{
    color: rgb(66, 156, 225);
}

a:visited{
    color:blueviolet
}


li:hover{
    background-color: rgba(223, 160, 117, 0.7);
    color : lightgray;
}

h1 {
    font-size: 40px;
    padding : 0px;
    
}

section {
    padding : 10px;
    margin : 10px;
    background-color: white ;
    border-radius : 50px;
    
}

section div button{
    position : inherit;
    color : black;
    padding: 10px;
    margin :15px;
    border-radius : 50px;
    size : small;
    opacity: 0.5;

}
