body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#99582a;
    color : black;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    padding: 10px;
    text-align: center;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size : 15px;
    border-radius : 50px;
    margin : 10px;


}

/* header button{
    margin-left: 10px;
    background-color: black;
    border-style : solid;
    border-color : black;
    padding : 10px;
    font-size : 15px;
    cursor : pointer;
    position : inherit;
} */


.link-white{
color:white
}

.link-black{
    color:black
}

.font-effect{
    font-family: 'Times New Roman', Times, serif;
    font-size : 20px;
    color : black;
}

.black-button{
    background-color: black;
}
.white-button{
    background-color: white;
    
}
#div1{
    color: black;
    background-color: wheat;
    border-radius : 50px;
}
nav ol{
    padding:0;
    margin : 50px;

}
nav ol li{
    display: inline;
    margin-right: 60px;
    font-size : 15px;
    cursor : pointer;

}

.logo{
    position : relative;
    top : 10px;
    left : 10px;
    height: 10px;
    width : 10px;
}

.background-image{
    background-image: url('new_bg.png');
    background-size: cover;
    background-position: center;
    height: 400px;
    position: relative;
    opacity: background-image 0.5;
}

.left_button{
    background-color: #FEFAE0;
    color: white;
    padding: 10px;
    position: inherit;
    border-radius : 50px;
    margin : 10px;
}
.left_button :hover{
    color: black;

}
.left_button a{
    text-decoration: none;
    color : black;
}
section button{
    position : inherit;
    color : black;
    padding: 10px;
    margin :15px;
    border-radius : 50px;
    size : small;
}

button{
    position : inherit;
    color : black;
    padding: 5px;
    border-radius : 50px;
    size : small;
    margin-left: 10px;
}

.menu{
    font-family: Arial, Helvetica, sans-serif;
    font-size : 10px;
    cursor : pointer;
    position : inherit;

}
@media(max-width:1200px){
    button {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 10px;
        color: black;
        background-color: wheat;
    }
}

@media(min-width:800px){
    #div1{
        display: none;
    }
}

a:active{
    color:#0f08f0;
}

a:hover{
    color: rgb(15, 16, 16);
}
.ol-links{
    a:visited{
    color:rgb(0, 0, 0)
    };
    li:hover{
    background-color: rgb(212, 203, 197);
    color : lightgray;
    }
}

h1 {
    font-size: 40px;
    padding : 0px;
    
}

section {
    padding : 10px;
    margin : 10px;
    background-color: white ;
    border-radius : 50px;
    
}

section div button{
    background-color: #FEFAE0;
    position : inherit;
    padding: 10px;
    margin :15px;
    border-radius : 50px;
}

.footer-background{
    padding : 10px;
    margin : 10px;
    
}

.footer-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding : 10px;
    margin : 10px;
    position : left;
    
}
.footer-links{
    font-size: 12px;
    padding : 10px;
    margin : 10px;
    position: center;
    
}
.footer-links a{
    margin: 10px;
    color : black;

}
.footer-links a:hover{
    color : black;
}

.social-media {
    width: 10px;
    height: 10px;
    margin-right: 5px;
    position : right;
}
.social-media a{
    margin: 10px;
    color : black;

}
.social-media img {
    width : 10px;
    height : 10px;
}

@media(max-width:1200px){
    .sidebar{
    height: 100%;
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    font-family: sans-serif;
    font-size  : 15px;
    .sidebar a{
        color: white ;
        text-decoration-line: none;;
        padding: 10px;

    }

    background-color: #545e31;
    padding-top: 15px;
    }
    .footer-text{
        font-size: 15px;
        
    }
    .footer-links{
        font-size: 10px;
    }
    }

