body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#ffffff;
    color : black;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    padding: 5px;
    text-align: center;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size : 15px;
    border-radius : 50px;
    margin : 10px;


}

/* header button{
    margin-left: 10px;
    background-color: black;
    border-style : solid;
    border-color : black;
    padding : 10px;
    font-size : 15px;
    cursor : pointer;
    position : inherit;
} */


.link-white{
color:white
}

.link-black{
    color:black
}

.font-effect{
    font-family: 'Times New Roman', Times, serif;
    font-size : 20px;
    color : black;
}

.black-button{
    background-color: black;
}
.white-button{
    background-color: white;
    
}
#div1{
    color: black;
    background-color: wheat;
    border-radius : 50px;
}
nav ol{
    padding:0;
    margin : 50px;

}
nav ol li{
    display: inline;
    margin-right: 60px;
    font-size : 15px;
    cursor : pointer;

}
.hover-effect{
    color : rgba(169, 164, 159, 0.679);

}
.logo{
    position : absolute;
    top : 10px;
    left : 10px;
    

}
.background-image{
    background-image: url('soft_blur.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    position: relative;
    opacity: background-image 0.5;
}

.left_button{
    background-color: linear-gradient(to-right,white);
    color: blue;
    padding: px;
    size : medium;
    position: inherit;
    border-radius : 50px;
    margin : 20px;
}

section button{
    position : inherit;
    color : black;
    padding: 10px;
    margin :15px;
    border-radius : 50px;
    size : small;
}

button{
    position : inherit;
    color : black;
    padding: 5px;
    border-radius : 50px;
    size : small;
    margin-left: 10px;
}

.menu{
    font-family: Arial, Helvetica, sans-serif;
    font-size : 10px;
    cursor : pointer;
    position : inherit;

}
@media(max-width:1000px){
    button {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 10px;
        color: black;
        background-color: wheat;
    }
}

@media(min-width:800px){
    #div1{
        display: none;
    }
}

a:active{
    color:rgb(77, 6, 110);
}

a:hover{
    color: rgb(66, 156, 225);
}
.ol-links{
    a:visited{
    color:rgb(0, 0, 0)
    };
    li:hover{
    background-color: rgba(223, 160, 117, 0.7);
    color : lightgray;
    }
}

h1 {
    font-size: 40px;
    padding : 0px;
    
}

section {
    padding : 10px;
    margin : 10px;
    background-color: white ;
    border-radius : 50px;
    
}

section div button{
    position : inherit;
    color : black;
    padding: 10px;
    margin :15px;
    border-radius : 50px;
    size : small;
    opacity: 0.5;

}
