body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color : black;

}
header{
    padding: 20px;
    text-align: center;
}

nav ol{
    color: black;
    padding:0;
    margin : 50px;

}
nav ol li{
    display: inline;
    margin :50px;

}
.hover-effect{
    color : bisque;

}

.background-image{
    background-image: url('corporate_lady.jpeg');
    background-size: cover;
    background-position: center;
    height: 400px;
    position: relative;
}

left_button{
    background-color: linear-gradient(to-right,white);
    color: black;
    padding: 10px;
}
