body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color : black;

}

header{
    padding: 5px;
    text-align: center;
    background-color: white;
    font-size : 15px;
    border-radius : 50px;
    

}

header button{
    margin-left: 10px;
    background-color: white;
    border-style : solid;
    border-color : black;
    padding : 10px;
    font-size : 15px;
    cursor : pointer;
    

}

nav ol{
    color: black;
    padding:0;
    margin : 50px;

}
nav ol li{
    display: inline;
    margin :50px;

}
.hover-effect{
    color : bisque;

}

.background-image{
    background-image: url('corporate_lady.jpeg');
    background-size: cover;
    background-position: center;
    height: 400px;
    position: relative;
}

.left_button{
    background-color: linear-gradient(to-right,white);
    color: blue;
    padding: px;
    size : medium;
    position: inherit;
    border-radius : 50px;
    margin : 20px;
}

section button{
    position : inherit;
    color : black;
    padding: 10px;
    margin :15px;
    border-radius : 50px;
    size : small;
}

button{
    position : inherit;
    color : black;
    padding: 5px;
    border-radius : 50px;
    size : small;
    margin-left: 10px;
}

li button{
    background-color: white;
    border-style : solid;
    border-color : black;
    padding : 5px;
    font-size : 15px;
    cursor : pointer;
}


h1 {
    font-size: 40px;
    padding : 0px;
    
}

body {
    background-color: rgb(231, 218, 181) ;
    font-family: Arial, Helvetica, sans-serif;
    padding : 10px;
    margin : 10px;
    color : black;
}

section {
    padding : 10px;
    margin : 10px;
    background-color: white ;
    border-radius : 50px;
    

    

}